<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spdb.mapper.IdentMapper">

    <resultMap id="ident" type="com.spdb.pojo.Ident">
        <result property="identId" column="ident_id"/>
    </resultMap>
    <select id="getAllIdents" resultMap="ident">
        SELECT *
        FROM rms_db.identity;
    </select>

    <select id="getIdentityInfo" resultType="String">
        SELECT description
        FROM rms_db.identity
        WHERE ident_id=#{identity}
    </select>

</mapper>