<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spdb.mapper.MachineMapper">

    <select id="getAllMachines" resultType="com.spdb.pojo.Machine">
        SELECT machine_id as machineId, ip, name, register_date as registerDate, sid, config, user_id as userId, env
        FROM rms_db.machine;
    </select>

    <insert id="addMachine" parameterType="com.spdb.pojo.Machine">
        INSERT INTO rms_db.machine (machine_id, ip, name, sid, config, register_date, user_id, env)
        VALUE (#{machineId}, #{ip}, #{name}, #{sid}, #{config}, #{registerDate}, #{userId}, #{env});
    </insert>
</mapper>